# App
PORT=3000
ALLOWED_ORIGINS=http://localhost:4200

# JWT
JWT_SECRET=

# Database
DB_HOST=db
DB_PORT=3306
DB_NAME=ticketing_db
MYSQL_ROOT_PASSWORD=

# Database users (deben coincidir con los definidos en init.sql)
DB_SISTEMA_PASSWORD=
DB_ADMIN_PASSWORD=
DB_USUARIO_PASSWORD=
DB_FUNCIONARIO_PASSWORD=
